{% extends "blog/base.html" %}
{% load static %}

<!-- WIP specific styles and scripts -->
{% block head %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "blog/styles/wip.css" %}" />
<script type="text/javascript">
    {% if article.slug %}var slug="{{article.slug}}"{% endif %}
</script>
<script src="{% static "blog/js/article.js" %}"></script>
<script src="{% static "blog/js/wip.js" %}"></script>
{% endblock %}

<!-- Display WIP article -->
{% block content %}
    <article>
        {% include "blog/article.html" %}
    </article>
    <a href="{% url "blog:wip-index" %}">Back to WIP index</a>
    {% csrf_token %}
    <script>
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
    </script>
{% endblock %}
