{% if all_tags %}
<aside class="sidebar" id="tags">
    <h2>Tags</h2>
    <ul class="taglist noselect">
        {% for tag in all_tags %}
            <li>
                <a href="{{ tag.url }}">
                    <div id="{{ tag.slug }}" {% if tag.slug in tags %} class="active"{% endif %}>
                        <div title="Add {{ tag.name }}"
                             class="circ"
                             onclick="return tagMod(this)">
                        </div>
                        {{ tag.name }}
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>

    <style>
        {% for tag in all_tags %}
            #{{ tag.slug }} {
                border-color: rgb({{ tag.color|join:"," }});
            }
            #{{ tag.slug }}:hover {
                background-color: rgba({{ tag.color|join:"," }},0.1);
            }
            #{{ tag.slug }}.active {
                background-color: rgb({{ tag.color|join:"," }});
                color: white;
            }
            #{{ tag.slug }}.active:hover {
                background-color: rgba({{ tag.color|join:"," }},0.9);
                color: white;
            }

            #{{ tag.slug }} .circ {
                background-color: rgb({{ tag.color|join:"," }});
                color: rgb({{ tag.color|join:"," }});
            }

            #{{ tag.slug }} .circ:hover {
                background-color: white;
                border: 1px solid;
                border-color: rgb({{ tag.color|join:"," }});
            }
            #{{ tag.slug }}.active .circ {
                background-color: white;
            }

            #{{ tag.slug }}.active .circ:hover {
                border: none;
            }
        {% endfor %}
    </style>
    {% if tags %}
    <script>
        var currentTags = ["{{ tags|join:'","' }}"];
    </script>
    {% endif %}
</aside>
{% endif %}
