@font-face {
    font-family: "Palatino";
    font-style: normal;
    font-weight: normal;
    /*src:url('../fonts/palatino-regular.ttf') format("truetype");*/
    src:url('../fonts/texgyrepagella-regular.otf') format("opentype");
}

@font-face {
    font-family: "Palatino";
    font-style: normal;
    font-weight: bold;
    src:url('../fonts/texgyrepagella-bold.otf') format("opentype");
}

@font-face {
    font-family: "Palatino";
    font-style: italic;
    font-weight: normal;
    src:url('../fonts/texgyrepagella-italic.otf') format("opentype");
}

@font-face {
    font-family: "Palatino";
    font-style: italic;
    font-weight: bold;
    src:url('../fonts/texgyrepagella-bolditalic.otf') format("opentype");
}

/*
@font-face {
    font-family: "Ubuntu Mono";
    src:url('fonts/UbuntuMono-Regular.ttf') format("truetype");
}
*/

