{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" 
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html lang="en-gb">
<head>
    {% block head %}
        {% include "blog/head.html" %}
    {% endblock %}
</head>
<body class="clearfix">
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
    <div id="wrapper">
        <header>
            <h1><a href="{% url "blog:article-index" %}">Jamie's Blog</a></h1>
            <hr class="hidden" />
        </header>
        <div id="main">
            {% block content %}
            {% endblock %}
        </div>
        <div id="side">
            {% block sidebar %}
                {% include "blog/tagbar.html" %}
                {% include "blog/archive.html" %}
            {% endblock %}
        </div>
    </div>

{% block footer %}
{% include "blog/footer.html" %}
{% endblock footer%}

</body>
</html>
