{% load static %}
    <!-- Google fonts -->
    <!-- Serif -->
    <link href="//fonts.googleapis.com/css?family=Markazi+Text|Bitter"
          rel="stylesheet"> 
    <!-- Monospace -->
    <link href="//fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Mono"
          rel="stylesheet"> 


    <!-- Syntax highlighting with highlight.js -->
    <link rel="stylesheet" type="text/css" 
        href="{% static "blog/styles/highlight/github-gist.css" %}" />
    <script src="{% static "blog/js/third_party/highlight.js" %}"></script>
    <script>
        hljs.configure({tabReplace: '<span class="indent">    </span>'});
        //hljs.initHighlightingOnLoad();
    </script>


    <!-- Maths formatting with MathJax.js -->
	<script type="text/x-mathjax-config">
		MathJax.Hub.Config({
		  jax: ["input/TeX","output/CommonHTML"],
	 	  /* removed extension "tex2jax.js","MathZoom.js",*/
		  extensions: [
            "tex2jax.js",
            "MathMenu.js",
            "AssistiveMML.js",
            "a11y/accessibility-menu.js"],
		  TeX: {
			extensions: [
                "AMSmath.js",
                "AMSsymbols.js",
                "noErrors.js",
                "noUndefined.js"]
		  }
		});
	</script>

    <script
        src='//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js' async></script>
    <script src="{% static "blog/js/tags.js" %}"></script>
