{% load static %}
    <!-- Google fonts -->
    <link href="//fonts.googleapis.com/css?family=Inconsolata|Ubuntu"
          rel="stylesheet"> 


    <!-- Syntax highlighting with highlight.js -->
    <link rel="stylesheet" type="text/css" 
        href="{% static "blog/styles/third_party/highlight.css" %}" />
    <script src="{% static "blog/js/third_party/highlight.js" %}"></script>
    <script>
        hljs.configure({tabReplace: '<span class="indent">    </span>'});
        //hljs.initHighlightingOnLoad();
    </script>


    <!-- Maths formatting with MathJax.js -->
	<script type="text/x-mathjax-config">
		MathJax.Hub.Config({
		  jax: ["input/TeX","output/CommonHTML"],
	 	  /* removed extension "tex2jax.js","MathZoom.js",*/
		  extensions: [
            "tex2jax.js",
            "MathMenu.js",
            "AssistiveMML.js",
            "a11y/accessibility-menu.js"],
		  TeX: {
			extensions: [
                "AMSmath.js",
                "AMSsymbols.js",
                "noErrors.js",
                "noUndefined.js"]
		  }
		});
	</script>

    <script
        src='//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js' async></script>
    <script src="{% static "blog/js/tags.js" %}"></script>

    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-86129592-1', 'auto');
        ga('send', 'pageview');

    </script>
